Container {
    color: red;
    height: auto;
}

Tab {
    width: 1fr;
}

.config-behavior-container {
    layout: grid;
    grid-size:2;
    height: auto;
}
.config-behavior-container > Static {
    
    color: white;
    height: auto;
    width: 3fr;
    content-align: left middle;
    margin: 1 0 0 0;
}

.config-behavior-container > Switch {
    
    height: auto;
    width: 1fr;
    margin: 0 0 0 0;
}
