ModalScreen{
    align:center middle;
}


/* Modal for New File Selection */
ModalRyeInit > Vertical {
    width: 40%;
    height: 75%;
}
ModalRyePin > Vertical {
    width: 40%;
    height: 30%;
    min-height: 20%;
}

#btn_home{
    width: 20%;
}
#input_path{
    width: 1fr;
}

.horizontal-conf-cancel{
    align: center bottom;
}

.btn-cancel {
    width: 1fr;
}

.btn-continue {
    width: 1fr;
}